<ion-view view-title="Commercial">
    <ion-content>
        <div class="row responsive-lg responsive-sm responsive-md">
             <div class="col col-10 card">
                <div class="item item-text-wrap">
                    This is a basic Card which contains an item that has wrapping text.
                </div>
            </div>
            <div class="col col-10  card">
                <div class="padding">
                    <span class="step size-96">
                        <i class="icon ion-alert-circled"></i>
                    </span>
                </div>
            </div>
        </div>
      
    </ion-content>
</ion-view>