
<ion-view cache-view="false" ng-init="clients=wrapper.allClient()">
    <ion-nav-title> {{ title }} </ion-nav-title>
    <ion-content>
        <ion-list>
            
            <ion-item class="item item-divider">
                 <a  href="#" ng-click="saveItem()" class="pull-right">
                    <i class="ion-android-send size-24"></i>
                </a>
                 <a  href="#" ng-click="goBack()"  ng-if="canGoBack()" class="pull-right">
                    <i class="ion-ios-arrow-back size-24"></i>
                </a>
             </ion-item>
             <ion-item>
                 <label class="item item-input item-select">
                    <div class="input-label">Civilite</div>
                    <select ng-model="item.civilite">
                        <option value="Mr">Monsieur</option>
                        <option value="Mme">Madame</option>
                        <option value="Mle">Mademoiselle</option>
                    </select>
                </label>
                   <label class="item item-input-inset">
                        <span class="input-label">Nom</span>
                        <input type="text" placeholder="Nom" ng-model="item.nom" camel-case>
                    </label>
                  <label class="item item-input-inset">
                    <span class="input-label">Prenom</span>
                    <input type="text" placeholder="Prenom" ng-model="item.prenom" camel-case>
                </label>
                <label class="item item-input-inset">
                    <span class="input-label">Telephone</span>
                    <input type="text" placeholder="Telephone" ng-model="item.telephone">
                </label>
                <label class="item item-input item-select" >
                    <div class="input-label">Client</div>
                    <select ng-model="item.client" ng-options="client as client.nom for client in clients track by client.id">
                        
                    </select>
                </label>    
             </ion-item>
             
             
        </ion-list>
        
   
    </ion-content>
</ion-view>

