<ion-view cache-view="false" >
     <ion-nav-title  > </ion-nav-title>
     <ng-title ng-model="item" ng-data="state.current.data" ></ng-title>
      <ion-content class="padding">
        <ion-list>
            <ion-item>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Numero</span>
                    <input ng-model="item.numero" type="number" required placeholder="Numero">
                </label>
            </ion-item>
            <ion-item>
                <button class="button  button-positive" ng-click="saveItem()" ng-show="isTablet()">Sauver</button>
                <button class="button  button-assertive" ng-click="cancel()" ng-show="isTablet()">Annuler</button>
            </ion-item>
        </ion-list>
    </ion-content>
     
</ion-view>


