<ion-view cache-view="false" >
     <ion-nav-title  > </ion-nav-title>
     <ng-title ng-model="item" ng-data="state.current.data" ></ng-title>
      <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Numero</span>
                <input ng-model="item.numero" type="number" required>
            </label>
            
            <button class="button button-full button-positive" ng-click="saveItem()">Sauver</button>
        </div>
    </ion-content>
     
</ion-view>