<ion-view view-title="{{state.current.data.title}}" >
    <ion-content>
        <ion-list can-swipe="true">
              
            <ion-item class="item item-divider">
                 <a  href="#" ng-click="saveItem()">
                    <i class="ion-android-send size-24"></i>
                </a>
             </ion-item>
            <ion-item  >
               <label class="item item-input item-floating-label">
                    <span class="input-label">Numero</span>
                    <input type="number" ng-model="item.numero" type="text" ng-disabled="true" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Reference Client</span>
                    <input type="text" ng-model="item.referenceclient"  placeholder="Reference Client" required>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Date à rendre prévue</span>
                    <input type="text" placeholder="Date à rendre prévue" ng-pattern='/^(0?[1-9]|[12][0-9]|3[01])\/(0?[1-9]|1[012])\/(19\d\d|20[12]\d)$/' ng-model="item.datearendreprevue"   required ng-dblclick="pickdate('datearendreprevue')">
                </label>
                
            </ion-item>
            
        </ion-list>
       
    </ion-content>
    
</ion-view>
