
    <ion-content  on-infinite-scroll="addMoreItem">
        <ion-list can-swipe="state.current.data.hasdetail || state.current.data.candelete ">
              
             <ion-item class="item item-divider row">
                 <a ng-click="addItem()">
                    <i class="ion-plus size-24 col-10" ></i>
                </a>
                <label class="item item-input col-25 col-offset-75">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
             </ion-item>
            <ion-item  ng-repeat="item in items | limitTo:numberOfItemsToDisplay" >
               
                    <!--<i class="icon ion-edit size-24"></i>-->
               <ng-transclude></ng-transclude>
                <ion-option-button ng-if="state.current.data.hasdetail" class="button-light icon ion-edit"             ng-click="detailItem(item.id)"    ></ion-option-button>
                <ion-option-button ng-if="state.current.data.canedit"   class="button-light icon ion-edit"             ng-click="editItem(item.id)"    ></ion-option-button>
                <ion-option-button ng-if="state.current.data.cancopy"   class="button-light icon ion-ios-copy-outline" ng-click="copyItem(item.id)"      ></ion-option-button>
                <ion-option-button ng-if="state.current.data.candelete" class="button-assertive icon ion-trash-a"      ng-click="deleteItem($event,item)"></ion-option-button>
                
            </ion-item>
        </ion-list>
       
    </ion-content>
