
<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">{{currentItem.id?'Editer':'Ajouter'}}</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Annuler</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
           
            <label class="item item-input  item-floating-label">
                <span class="input-label">Nom</span>
                <input placeholder="Nom" ng-model="currentItem.nom" type="text" required>
            </label>
            <label class="item item-input  item-floating-label">
                <span class="input-label">Telephone</span>
                <input placeholder="Telephone" ng-model="currentItem.telephone" type="text" >
            </label>
           
            <button class="button button-full button-positive" ng-click="saveItem()">Sauver</button>
        </div>
    </ion-content>
</ion-modal-view>